@page
@model GeoBAM.Pages.UserManager.DetailsModel

@{
    ViewData["Title"] = "Infos";
}

<h1>Détails</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Prénom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            Nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
           Adresse Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            Mot de passe 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit"   asp-route-id="@Model.User.Id">Modifier </a> |
    <a asp-page="./Index">revenir à la liste</a>
</div>
