@page
@model GeoBAM.Pages.UserManager.IndexModel

@{
    ViewData["Title"] = "Liste des utilisateurs";
}

<h1>Liste des utilisateurs</h1>

<p>
    <a asp-page="Create">Ajouter un nouveau utilisateur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Prénom
            </th>
            <th>
                Nom
            </th>
            <th>
                Email
            </th>
            
            <th>Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
